body {
    background-image: url("../assets/img/akeno/akeno_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    background-attachment: scroll;

    /* Минус отступы! */
    font-family: Arial, sans-serif;
    margin: 0;
}


/* Навигационная понелька */
.navbar {
    background-color: black;
    padding: 15px, 0;
}

.nav-container {
    max-width: 1200px; 
    margin-left: 75px; 
    padding: 15px 20px;
} 

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-item a {
    color: rgb(98, 127, 255);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-item a:hover {
    background-color: #592da0;
}

.nav-item a.active {
    background-color: #ffffff;
    color: black;
}



/* Сезоны */

.place {
    background-color: rgba(58, 58, 58, 0.5);
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 150px;
}

.heading {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 1px;
    padding-bottom: 1px;
}

.seasons-button {
    list-style: none;
    text-decoration: none;
    margin-left: 30px;
    color: white;
    padding-top: 25px;
    padding-left: 30px;
    transition: background-color 0.3s;
    display: flex;
    gap: 120px;
}

.seasons-button a:hover {
    background-color: #4e4745;
}

.seasons-button a.active {
    background-color: #e0dfe6;
    color: black;
}

/* Серии */

.seriaplace {
    background-color: rgba(20, 32, 54, 0.5);
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 150px;
}


.episodes-container {
    column-count: 6; /* Количество колонок */
    column-gap: 10px;
}

.episode {
    break-inside: avoid; /* Не разрываем элементы между колонками */
    /* margin-top: 10px; */
    margin-left: 10px;
    width: 90%;
    height: 80px;
    color: white;
    background-color: rgba(127, 85, 194, 0.5);
    margin-bottom: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #000000;
}
