body {
    background-image: url("../assets/img/akeno.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    background-attachment: scroll;

    /* Минус отступы! */
    font-family: Arial, sans-serif;
    margin: 0;
}


/* Сезоны */

.place {
    background-color: rgba(58, 58, 58, 0.5);
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 150px;
}

.heading {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 1px;
    padding-bottom: 1px;
}

.seasons-button {
    list-style: none;
    text-decoration: none;
    margin-left: 30px;
    color: white;
    padding-top: 25px;
    padding-left: 30px;
    /* transition: background-color 0.3s; */
    transition: background-color 0.3s;
    display: flex;
    gap: 20px;
}

.seasons-button a:hover {
    background-color: #4e4745;
}

.seasons-button a.active {
    background-color: #c1bfca;
    color: black;
}